<h1>Listing wallets</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Label</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @wallets.each do |wallet| %>
    <tr>
      <td>
        <%= wallet.label %><br>
        <small><span class="btc-addr"><%= wallet.curr_key.address %></span></small>
      </td>
      <td>
        <%= link_to 'Show', wallet, :class => 'btn btn-default' %>
        <%= link_to 'Edit', edit_wallet_path(wallet), :class => 'btn btn-default' %>
        <%= link_to 'Delete', wallet, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-warning' %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render partial: 'shared/new_wallet_button' %>
