<%= content_for :page_title, 'Create new wallet' %>
<h2>Add wallet</h2>

<h3>Create new</h3>
<p>Add a wallet by creating a new one.</p>

<%= render 'form' %>

<hr>

<h3>Import wallet</h3>
<p>You could also upload previously exported wallets (or blockchain wallets) for import.</p>
<!-- wallet import form -->
<div class="well">
	<%= bootstrap_form_tag({ action: :upload, multipart: true }) do |f| %>

	<%= f.file_field :wallet %>
	<%= f.submit %>

	<% end %>
</div>
<hr>

<%= render partial: 'back_button' %>
