<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @wallet.label %>
</p>

<p>
  <strong>Password:</strong>
  <%= @wallet.password %>
</p>

<%= link_to 'Edit', edit_wallet_path(@wallet) %> |
<%= link_to 'Back', wallets_path %>
