<!-- errors -->
<% if @transaction.errors.any? %>
<div class="alert alert-danger">
    <h2>
        Oh snap! <%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:
    </h2>

    <ul>
        <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>
<!-- errors fin -->

<!-- form -->
<div class="well">
    <%= bootstrap_form_for(@transaction) do |f| %>
    <!-- label -->
    <%= f.text_field :label %>

    <!-- sender address -->
    <%= f.select :wallet_id, options_for_wallet_select, {} %>

    <!-- receiver address -->
    <%= f.text_field :receiver_addr %>

    <!-- amount -->
    <%= f.text_field :amount %>

    <!-- fee -->
    <%= f.text_field :fee %>

    <%= f.submit %>

    <% end %>
</div>
<!-- form fin -->