<% if @transaction.label %>
<% content_for :page_title, 'Transaction ' + @transaction.label %>
<% else %>
<% content_for :page_title, 'Transacton to ' + @transaction.receiver_addr %>
<% end %>

<%= render partial: 'shared/notice' %>

<% if @transaction.confirmed %>
<div class="alert alert-succsess">
    This transaction is confirmed by the bitcoin network.
</div>
<% else %>
<div class="alert alert-info">
    This transaction is not confirmed yet.
</div>
<% end %>

<% if @transaction.label && @transaction.label.length > 0 %>
<h3><%= @transaction.label %></h3>
<% end %>

<div class="well">
    <div class="row">
        <div class="col-lg-3">
            <strong>Receiver address:</strong>
        </div>

        <div class="col-lg-9">
            <span class="btc-addr"><%= @transaction.receiver_addr %></span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <strong>Amount:</strong>
        </div>

        <div class="col-lg-9">
            <%= @transaction.amount %>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <strong>Fee:</strong>
        </div>

        <div class="col-lg-9">
            <%= @transaction.fee %>
        </div>
    </p>
</div>
</div>

<%= render partial: 'back_button' %>
