<p id="notice"><%= notice %></p>

<p>
  <strong>Receiver addr:</strong>
  <%= @transaction.receiver_addr %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Fee:</strong>
  <%= @transaction.fee %>
</p>

<%= link_to raw('<span class="glyphicon glyphicon-chevron-left"></span> Back'), transactions_path, :class => 'btn btn-default' %>
