<div class="panel panel-default">
    <div class="panel-heading">
        <p>Transactions</p>
    </div>
    <div class="panel-body">
        <% if user_signed_in? %>
        <% if current_user.wallets.any? %>
        <h3>Incoming</h3>
        <ul class="list-group">
            <li class="list-group-item">Confirmed <span class="badge"><%= confirmed_incoming_txs_count %></span></li>
            <li class="list-group-item">Unconfirmed <span class="badge"><%= unconfirmed_incoming_txs_count %></span></li>
        </ul>

        <h3>Outgoing</h3>
        <ul class="list-group">
            <li class="list-group-item">Confirmed <span class="badge"><%= confirmed_outgoing_txs_count %></span></li>
            <li class="list-group-item">Unconfirmed <span class="badge"><%= unconfirmed_outgoing_txs_count %></span></li>
        </ul>
    </ul>
    <% else %><!-- if any wallets -->
    <!-- no wallets configured -->
    <%= render partial: 'shared/no_wallets_configured_warning' %>
    <% end %><!-- current_user has wallets fin -->

    <% else %>
    <!-- not logged in -->
    <%= render partial: 'shared/not_logged_in_warning' %>
    <% end %><!-- signed in fin -->
</div>
<div class="panel-footer"> 
    <%= render partial: 'shared/new_tx_button' %>
    <%= link_to 'View all', transactions_path, :class => 'btn btn-default pull-right' %>
</div>
</div>
