<div class="panel panel-default">
    <div class="panel-heading">
        <p>Wallets</p>
    </div>
    <div class="panel-body">
        <% if user_signed_in? %>

        <% if current_user.wallets.any? %>

        <ul>
            <% current_user.wallets.each do |w| %>
            <li><%= link_to w.label, w %></li>
            <% end %>
        </ul>

        <% else %>
        <!-- no wallets configured -->
        <%= render partial: 'shared/no_wallets_configured_warning' %>
        <% end %><!-- current_user has wallets fin -->

        <% else %>
        <!-- not logged in -->
        <%= render partial: 'shared/not_logged_in_warning' %>
        <% end %><!-- signed in fin -->
    </div>
    <div class="panel-footer"> 
        <%= render partial: 'shared/new_wallet_button' %>
        <%= link_to 'View all', wallets_path, :class => 'btn btn-default pull-right' %>
    </div>
</div>