<div class="panel panel-default">
    <div class="panel-heading">
        <p>Wallets</p>
    </div>
    <div class="panel-body">
        <% if user_signed_in? %>
        <% if current_user.wallets.any? %>
        <% current_user.wallets.each do |w| %>
        <h4><%= w.label %></h4>
        <p><a data-toggle="collapse" data-target="#addr_qr" href="#addr_qr"><span class="caret"></span> <%= w.curr_key.address %></a></p>
        <div id="addr_qr" class="collapse well well-sm centered">
            <%= render :inline => w.curr_key.addr_qrcode_svg %>
        </div>
        <% end %>
    </ul>

    <% else %>
    <!-- no wallets configured -->
    <%= render partial: 'shared/no_wallets_configured_warning' %>
    <% end %><!-- current_user has wallets fin -->

    <% else %>
    <!-- not logged in -->
    <%= render partial: 'shared/not_logged_in_warning' %>
    <% end %><!-- signed in fin -->
</div>
<div class="panel-footer"> 
    <%= link_to raw('<span class="glyphicon glyphicon-plus-sign"></span> Add wallet'), new_wallet_path, :class => user_signed_in? ? "btn btn-primary btn-sm" : "btn btn-primary btn-sm disabled" %>
    <!--<a href="#" class="btn btn-primary btn-sm <% unless user_signed_in? %> disabled <% end %>">Add wallet</a> -->
</div>
</div>